header, section, footer, nav, article, figure, figcaption {
  display:block;}
  body{
    color:black;
    background-color: #f9f8f6;
    background-image: url("Schematic_Circuits_Diagram_Black_BW_1920x1200.jpg");
    background-position: center;
    font-family:Georgia, times, serif;
    line-height: 1.4em;
    margin: 0px;}
    .wrapper{
      width:940px;
      margin: 20px auto 20px auto;
      border: 2px solid #000000;
      background-color: #ffffff;}
    header{
        height:160;
        background-image: url("");
      }

      h1{
          font-size: 35px;
          text-align: center;
          padding: 10px 0px 0px 0px;
          text-indent: auto;
          width: 940px;
          height: 40px;
          margin: 0px;
          background-color: dimgrey;
        }
        h2{
            font-size:23px;
            text-align: center;
            padding: 0px 0px 0px 0px;
            text-indent: auto;
            width: 940px;
            height: 40px;
            margin: 0px;
            background-color: dimgrey;
        }

    nav, footer{
        clear:both;
        color:#ffffff;
        background-color: gray;
        height:30px;
      }
    nav ul{
        margin: 0px;
        padding: 5px 0px 5px 30px;
      }
    nav li{
        display:inline;
        margin-right: 40px;
      }
    nav li a{
      color: #ffffff;
      }
    nav li a:hover, nav li a.current{
        color: #000000;}
      }
    section.courses{
        float: left;
        width: 659px;
        border-right: 1px solid #eeeeee;}
      }
    article{
        clear: both;
        overflow: auto;
        width: 100%;
      }
    hgroup{
        margin-top: 40px;
      }
    figure{
        float: left;
        width: 220px;
        height: 220px;
        padding: 5px;
        margin: 20px;
        border: 1px solid #eeeeee;
      }
    figcaption{
        font-size: 90%
        text-align: left;
      }
      p{
        padding-left: 25px;
        padding-right: 10px;
      }
    footer{
        font-size: 80%;
        padding: 7px 0px 0px 20px;
      }
